{% extends 'myapp/base.html' %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="deletebutton1">
  <a href="{% url 'deletedoctor' %}" class="button" type="submit"/>Удалить медсестру</a>
</div>
<div class="addbutton">
  <a href="{% url 'newnurse' %}" class="button" type="submit"/>Добавить медсестру</a>
</div>

<div class="doctor">
     {% render_table nurses %}
</div>
<div class = "count">
  <p>Количество медсестер: {{nurses_count}}</p>
  <p>Количество медсестер в приемном отделении: {{num_admission_department}} </p>
  <p>Количество медсестер в терапевтическом отделении: {{num_therapeutic_department}} </p>
</div>
{% endblock %}
